<h3>Interest points</h3>

<mat-drawer-container autosize class="container">
    <mat-drawer #drawer mode="side" opened="true" disableClose="true" class="list">
        <mat-list>
            <mat-list-item *ngFor="let interestPoint of interestPoints.entries">
                <button mat-stroked-button (click)="select(interestPoint.uuid)" [class.selected]="selectedId === interestPoint.uuid">
          <editable-text #interestPointNameEditors
                         [(text)]="interestPoint.name"></editable-text>
        </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <div class="details">
        <div *ngFor="let interestPoint of interestPoints.entries">
            <app-interest-point-details [interest-point]="interestPoint" *ngIf="selectedId === interestPoint.uuid">
            </app-interest-point-details>
        </div>
    </div>
</mat-drawer-container>